#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    height: 50px;
    width: 175px;
    border: black solid 1px;
  }
  
  #calc-container {
    display: flex;
    width: 175px;
    justify-content: space-around;
    border: red solid 1px;
    flex: 1 0 auto;
  }
  
  #numeric-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 75px;
    justify-content: space-around;
    flex: 1 0 none;
    border: green solid 1px;
    flex-grow: 2;
  }
  
  #numeric-container button {
    width: 25px;
    flex-grow: 1;
    margin: 2px;
  }
  
  #operator-container {
    display: flex;
    flex-direction: column;
    border: blue solid 1px;
  }
  
  #operator-container button {
    margin: 2px;
  }